{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <a href="{{ path('article') }}">Ajouter Article</a>
    <br>
    <a href="{{ path('category') }}">Ajouter Category</a>
    <br>
    <a href="{{ path('app_lucky_number') }}">nombre aléatoire</a>
    <br>



    <h1>All articles from article s table : </h1>
    {% for article in articles %}
        <div>
            <h2>{{ loop.index }} / <a href="{{ path('blog_show', {'slug' : article.title|lower|replace({' ': "-"}) } )}}">{{ article.title }}</a> - Category : <a href="{{ path('blog_show_category', {'name' : article.category.name}) }}"> {{ article.category.name }}</a></h2>
            <p>{{ article.content }}</p>
        </div>
    {% endfor %}
    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>
{% endblock %}
