{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.category) }}
    <button type="submit" name="btnSearch">Rechercher</button>
    {{ form_end(form) }}


    <h1>All articles from article s table : </h1>
    {% for article in articles %}
        <div>
            <h2>{{ loop.index }} / <a href="{{ path('article_show', {'id' : article.id } )}}">{{ article.title }}</a> - Category : <a href="{{ path('blog_show_category', {'name' : article.category.name}) }}"> {{ article.category.name }}</a></h2>
            <p>{{ article.content }}</p>
        </div>
    {% endfor %}
    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>
{% endblock %}
